default_stages: [push]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo:  local
    hooks:
    -   id: black
        name: "Python: Black formatter"
        entry: poetry run black --check
        language: system
        types: [python]
    -   id: flake8
        name: "Python: Flake8 linter"
        entry: poetry run flake8
        language: system
        types: [python]
    -   id: isort
        name: "Python: isort formatter"
        entry: poetry run isort -rc -c
        language: system
        types: [python]
    -   id: mypy
        name: "Python: mypy linter"
        entry: poetry run mypy --config-file mypy.ini
        language: system
        types: [python]

-   repo: https://github.com/doublify/pre-commit-rust
    rev: master
    hooks:
    -   id: fmt
        name: "Rust: fmt"
    -   id: cargo-check
        name: "Rust: check"
    -   id: clippy
        name: "Rust: clippy"
